@import url(reset.css);
@import url(fonts.css);
@import url(variable.css);
@import url(elements.css);

body {
  font-family: var(--ff-sans );
  background-color: var(--bg-color);
  color: var(--text-color-primary);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 10rem;
}

/* INTRODUCTION */
.introduction {}

.introduction h1 {
  font-size: 2.5em;
}

.introduction h2 {
    font-size: 1.2em;
    font-weight: var(--fw-base);
    margin-block: 1.5rem;
}

.introduction a {
  border-bottom: 1px dashed var(--text-color-primary);
  padding-bottom: 0.4rem;
  font-size: 1.2em;
  color: var(--text-color-primary);
  transition: .5s;
}

.introduction a:hover {
  color: var(--text-color-primary-hover);
  border-bottom: 1px dashed var(--text-color-primary-hover);
}

/* SECTION FORM */
