@import url(../../global/global.css);

.checkbox_group {
  margin-bottom: 0.6rem;
}

.checkbox_group input {
  opacity: 0;
  margin-left: 0.5rem;
}

.checkbox_group input:focus ~ label::before {
  border: 1px solid var(--bg-color);
  box-shadow: 0 0 2px var(--bg-color);
}

.checkbox_group input:checked ~ label::before {
  background-color: var(--bg-color);
  box-shadow: 0 0 2px var(--bg-color);
  background-image: url(../../../img/global/checked.svg);
  background-size: 11px;
  background-repeat: no-repeat;
  background-position: center center;
}

.checkbox_group input:hover ~ label::before {
  border: 1px solid var(--bg-color);
}

.checkbox_group label::before {
  content: "";
  position: absolute;
  display: block;
  width: 1rem;
  height: 1rem;
  border: 1px solid var(--border);
  border-radius: 4px;
  top: 0.1rem;
  left: -1.4rem;
  transition: .2s;
}

.checkbox_group label {
  font-size: 0.9em;
  font-weight: var(--fw-base);
  color: var(--text-color-secondary);
  position: relative;
  cursor: pointer;
}

.checkbox_group label a {
  color: var(--bg-color);
}
.checkbox_group label a:hover {
  text-decoration: underline;
}

form button {
  margin-top: 1rem;
}