.verified_email {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2.2rem;
  border-radius: 10px;
  border: none;
  width: 31.25rem;
}

.verified_email h3 {
  font-size: 1.8em;
  margin-bottom: 0.6rem;
}

.verified_email p:nth-child(2) {
  margin-bottom: 2rem;
}

.group_inputCode {
  display: flex;
  flex-direction: column;
}

.group_inputCode label {
  font-size: 1.1em;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.group_inputCode input {
  padding: 1rem;
  font-size: 1.6em;
  border-radius: 5px;
  outline: none;
  border: 1px solid gray;
  letter-spacing: 47px;
  padding-left: 2rem;
  margin-block: 1rem;
  box-shadow: 0px 2px 4px 0px #00000029;
}

.info {
  background-color: rgb(237, 234, 234);
  border-radius: 5px;
  margin-block: 1rem;
  display: flex;
  padding: 1rem;
  gap: 1rem;
  align-items: center;
}

.info .email_icon {
  background-color: black;
  border-radius: 50%;
  padding: 0.5rem;
  width: 2.7rem;
  height: 2.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info .email_icon i {
  color: white;
  font-size: 1.3em;
}

.info span {
  font-weight: 100;
}

.verified_email button {
  background-color: var(--bg-color);
  border: none;
  width: 100%;
  padding: 1rem;
  border-radius: 7px;
  color: var(--text-color-primary);
  font-size: 1em;
  font-weight: var(--fw-md);
  letter-spacing: 1px;
  cursor: pointer;
  transition: .2s;
  margin-bottom: 1rem;
}

.verified_email button:hover {
  background-color: #153385;
  transform: translateY(3px);
}

.verified_email p a {
  color: var(--bg-color);
}
.verified_email p a:hover {
  text-decoration: underline;
}

.verified_email::backdrop {
  background-color: #00000080;
}